.data-link {
  text-align: center;
  margin: 0.5em 0;
  border-radius: 99em;
  padding: 0.2em 2em;
  background: var(--foreground-color);
  color: var(--background-color);
  max-width: fit-content;
  max-width:  intrinsic;         /* Safari/WebKit */
  max-width:  -moz-max-content;  /* Firefox/Gecko */
  position: absolute;
  left: 16px;
  top: 16px;
  z-index: 1;
  p {
    margin-bottom: 0;
  }
}
