@keyframes typeloop-left {
  from {
    left: 0%;
  }
  to {
    left: -250%;
  }
}
@keyframes typeloop-right {
  from {
    left: -250%;
  }
  to {
    left: 0%;
  }
}
.blog-page {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: var(--rowGap);
  .cover-animation {
    overflow: hidden;
    position: relative;
    grid-column: 1 / 9;
    grid-row: 1 / 3;
    border-bottom: 1px solid var(--foreground-color);
    padding: 3vw 0;
    .type-loop {
      position: relative;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      display: block;
      box-sizing: border-box;
      span.loop-right {
        animation: typeloop-right infinite 10s linear;
      }
      span.loop-left {
        animation: typeloop-left infinite 10s linear;
      }
    }
    span.cover-heading {
      font-size: 16vw;
      line-height: calc(var(--lineHeight) * 7);
      font-weight: 500;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      white-space: nowrap;
      position: relative;
    }
  }
}

.autogrid {
  --gutter: ;
  --min: 20rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
  grid-auto-flow: dense;
}
.text ul > li {
  list-style: disc;
}
ul.grid {
  list-style: none;
  padding-top: 2rem;
  padding-left: 0;
  li {
    margin: 0;
  }
}
.grid {
  --gutter: 10px;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: 1fr;
}
.grid > .column {
  margin-bottom: var(--gutter);
  --columns: 4;
}
.blog-article-excerpt > a {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.blog-article-excerpt {
  background-color: var(--background-color-alpha);
  backdrop-filter: saturate(180%) blur(20px);
  border: 1px solid var(--foreground-color);
  border-radius: 8px;
  .text {
    padding-top: 1rem;
    position: relative;
    min-height: 15rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  .label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
  }
  .bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .image {
    overflow: hidden;
    position: relative;
    --w: 9;
    --h: 9;
    padding-bottom: calc(50% / var(--w) * var(--h));
    .data-link {
      text-align: center;
      margin: 0.5em 0;
      border-radius: 99em;
      padding: 0.2em 2em;
      background: var(--foreground-color);
      color: var(--background-color);
      max-width: fit-content;
      max-width:  intrinsic;         /* Safari/WebKit */
      max-width:  -moz-max-content;  /* Firefox/Gecko */
      position: absolute;
      left: 16px;
      top: 16px;
      z-index: 1;
      p {
        margin-bottom: 0;
      }
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 0;
      border-radius: 4px 4px 0 0 ;
      transform: scale(1);
      filter: saturate(500%) blur(20px);
      transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  }
}


.blog-article-excerpt:hover {
  .image img {
    filter: saturate(100%) blur(0px);
    transform: scale(1.08);
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .blog-article-excerpt-title {
    color: var(--primary-color);
  }
}

.blog-article-excerpt-title {
  margin: 0;
  line-height: calc(var(--lineHeight) * 1.5);
  padding: calc(var(--lineHeight) * 0.5) 0;
}

.blog-article-excerpt-subheadline {
  border-top: 1px solid var(--foreground-color);
}

.blog-article-excerpt {
  .text,
  .date,
  .tags {
    margin-left: 15px;
  }
  .date,
  .tags {
    padding-bottom: 1rem;
    border-top: 1px solid var(--foreground-color);
  }
}

.blog-article-excerpt-subheadline,
.bottom {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-article-excerpt-text {
  margin: 0;
}
.blog-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--lineHeight) * 1) 0;
}
.blog-pagination > span {
  color: var(--foreground-color);
  opacity: 0.6;
}
.blog-pagination > * {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  width: 6rem;
  text-align: center;
  border: 2px solid currentColor;
  margin-right: 1.5rem;
  border-radius: 99em;
  font-size: 32px;
}
.blog-pagination > a:hover {
  background: var(--primary-color);
  color: var(--background-color);
  border-color: var(--primary-color);
}
@media (min-width: 960px) and (max-width: 1150px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid > .column {
    grid-column: span var(--columns);
  }
  .grid > .column {
    margin-bottom: var(--gutter);
    --columns: 2;
  }
}
@media screen and (min-width: 1150px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid > .column {
    grid-column: span var(--columns);
  }
}


@media (min-width: 320px) and (max-width: 768px) {
  .blog-page {
    grid-template-columns: repeat(2, 1fr);
    .cover-animation {
      grid-column: 1 / 3;
      span.cover-heading {
        font-size: 45vw;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .blog-article-excerpt {
    .date,
    .tags {
      font-size: 10px;
    }
  }
}
