.post-meta {
  text-align: center;
  margin: 0.5em 0;
  border-radius: var(--b-r-small);
  padding: 0 2.2em;
  background: var(--foreground-color);
  color: var(--background-color);
  max-width: fit-content;
  .tags {
    margin-bottom: 0;
  }
}


.post-meta-s {
  margin: 0.2em 0;
    padding: 0 1em;
  p {
    font-size: 0.8em;
  }
}
