@keyframes typeloop-left {
  from {
    left: 0%;
  }
  to {
    left: -250%;
  }
}
@keyframes typeloop-right {
  from {
    left: -250%;
  }
  to {
    left: 0%;
  }
}
.about-page {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: var(--rowGap);
  .cover-animation {
    overflow: hidden;
    position: relative;
    grid-column: 1 / 9;
    grid-row: 1 / 3;
    border-bottom: 1px solid var(--foreground-color);
    padding: 3vw 0;
    .type-loop {
      position: relative;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      display: block;
      box-sizing: border-box;
      span.loop-right {
        animation: typeloop-right infinite 20s linear;
      }
      span.loop-left {
        animation: typeloop-left infinite 20s linear;
      }
    }
    span.cover-heading {
      font-size: 16vw;
      line-height: calc(var(--lineHeight) * 7);
      font-weight: 500;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      white-space: nowrap;
      position: relative;
    }
  }
  .work-subpage-content {
    grid-column: 1 / 9;
    grid-row: 3;
    padding-bottom: 2em;
    h1 {
      margin-top: calc(var(--lineHeight) * 0.5);
    }
     p {
      margin-top: calc(var(--lineHeight) * 0.5);
      margin-bottom: calc(var(--lineHeight) * 0.5);
     }
    .subpage-information {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-column-gap: 10px;
      .subpage-meta {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        display: flex;
        flex-direction: column;
        // p:not(.tags) {
        //   border-bottom: 1px solid var(--foreground-color);
        // }
      }
      .subpage-description {
        grid-area: 1 / 3 / 1 / 6;
      }
      .subpage-concept {
        grid-area: 1 / 6 / 1 / 9;
      }
      .subpage-capabilities {
        grid-area: 2 / 3 / 2 / 6;
        ul,
        li {
          list-style: none;
          padding: 0;
          margin: 0;
        }
      }
      .subpage-contact {
        grid-area: 2 / 6 / 2 / 9;
      }
      .subpage-meta,
      .subpage-description,
      .subpage-concept,
      .subpage-capabilities,
      .subpage-contact {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        p.sub-sub-heading{
          border-bottom: 1px solid var(--foreground-color);
       }
      }
      .work-images {
        grid-area: 3 / 3 / 3 / 9;
        padding-top: calc(var(--lineHeight) * 0.5);
        img{
          display: block;
          width: 100%;
          border-radius: 8px;
        }
      }
      .work-legend {
        padding-top: 1rem;
        grid-area: 3 / 3 / 3 / 9;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h3 {
          width: 50%;
        }
      }
    }
  }
}
.half {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 720px) {
  .about-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    .cover-animation {
      grid-area: 1 / 1 / 1 / 3;
      span.cover-heading {
        font-size: 45vw;

      }
    }
    .work-subpage-content {
      grid-area: 2 / 1 / 2 / 3;
      .subpage-information {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: calc(var(--rowGap) * 2);
        .subpage-meta {
          grid-area: 1 / 1 / 1 / 3;
        }
        .subpage-description {
          grid-area: 2 / 1 / 2 / 3;
        }
        .subpage-concept {
          grid-area: 3 / 1 / 3 / 3;
        }
        .subpage-capabilities {
          grid-area: 4 / 1 / 4 / 3;
        }
        .subpage-contact {
          grid-area: 5 / 1 / 5 / 3;
        }
        .subpage-description,
        .subpage-concept {
          p {
            width: 100%;
          }
        }
        .work-images {
          grid-area: 6 / 1 / 6 / 3;


        }
        .work-legend {

          grid-area: 7 / 1 / 7 / 3;

          h3 {
            width: 50%;
          }
        }
      }
    }
  }
}
