/* Main */
#preload-homepage {
  display: none;
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
  justify-content: center;
  transition: background var(--duration) ease;
  background-color: var(--background-color-alpha);
  backdrop-filter: saturate(180%) blur(5px);
  .intro {
    align-items: center;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    padding: calc(var(--lineHeight) * 1);
    .intro-items {
      display: grid;
      text-align: center;
    }
  }
}

#consent-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 1s ease;
  padding: calc(var(--lineHeight) * 1) calc(var(--lineHeight) * 2);
  z-index: 1001;
  border-top: 1px solid var(--foreground-color);
  background-color: var(--background-color-alpha);
  backdrop-filter: saturate(180%) blur(20px);
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: underline;
  }
  &.hidden {
    opacity: 0;
  }
}

.pageContent {
  padding: calc(var(--lineHeight) * 1) 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: min-content 1fr;
  grid-column-gap: 10px;
  align-items: end;
  grid-row-gap: var(--rowGap);
  .homepage-info {
    padding: calc(var(--lineHeight) * 1) 0;
    display: grid;
    svg{
      margin-bottom: 1em;
    }
    svg,
    .date-time {
      justify-self: center;
      text-align: center;
    }
  }
  .left {
    grid-column: 1 / 6;
    grid-row: 1;
    align-self: start;
  }
  .right {
    grid-column: 6 / 9;
    grid-row: 1;
    align-self: start;
    justify-self: start;
  }

}
.card {
  transition: height 0.5s ease-out;
  border: 1px solid var(--foreground-color);
  border-radius: 8px;
  margin-top: 1em;
  padding: 1em;
  background-color: var(--background-color-alpha);
  backdrop-filter: saturate(180%) blur(20px);
  .card-header,
  .card-content {
    display: flex;
    justify-content: space-between;
  }
  .card-content {
    margin-top: 0.5em;
    .card-title {
      h3 {
        margin-bottom: 0.2em;
      }
      p {
        line-height: 1em;
      }
      text-align: left;
      padding-left: 0.5em;
    }
    img {
      max-width: 200px;
      max-height: 200px;
      object-fit: cover;
    }
  }
}

.card-grid {
  padding: 0;
  display: grid;
  position: relative;
  background: var(--background-color);
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--foreground-color);
  .card-grid-section-one{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 32px;
  }
  .links {
    margin-top:auto;
  }
}


@media (min-width: 820px) {
  .card-grid {
    grid-template-rows: auto 1fr;
    grid-template-columns: 50% 50%;
    .form-img {
      grid-column: 2;
      grid-row: 1;
    }
    .card-grid-section-one{
      grid-column: 1;
      grid-row: 1 / 3;
    }
    .list {
      grid-column: 2;
      grid-row: 2;
      border-left: 1px solid var(--foreground-color);
    }
  }
}
@media (max-width: 819px) {
  .card-grid {
    grid-template-columns: 1fr;
    margin-top: 24px;
    .form-img img {
      border-radius: 0;
    }
  }
}

@media (max-width: 575px) {
  .card-grid {
    .card-grid-section-one{
      padding: 16px;
      .message {
        left: 16px;
        right: 16px;
      }
      form {
        grid-template-columns: 1fr;
      }
    }
  }
}
@media (min-width: 576px) {
  .card-grid {
    .card-grid-section-one{
      padding: 25px;
      form {
        .firstname {
          grid-row: 1;
          grid-column: 1;
        }
        .lastname {
          grid-row: 1;
          grid-column: 2;
        }
        .interest,
        small,
        button {
          grid-column: 1 / 3;
        }
        .phone,
        .email {
          grid-row: 2;
        }
        .reason,
        .birthday {
          grid-row: 3;
        }
        .interest {
          grid-row: 4;
        }
        small {
          grid-row: 5;
        }
        button {
          grid-row: 6;
        }
      }
    }
  }
}
