main.work-subpage {
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: var(--columnGap);
  grid-row-gap: var(--rowGap);
  // Hero
  .cover {
    grid-column: 1 / 9;
    grid-row: 1;
    border-bottom: 1px solid var(--foreground-color);
    display: grid;
    time {
      padding-top: calc(var(--lineHeight) * 0.5);
    }
  }
  // Content
  .work-subpage-content {
    grid-column: 1 / 9;
    grid-row: 2;
    padding-bottom: 2em;
    h1,
    h2 {
      margin-top: calc(var(--lineHeight) * 0.5);
    }
    p:not(.tags) {
      margin-top: calc(var(--lineHeight) * 0.5);
      margin-bottom: calc(var(--lineHeight) * 0.5);
    }
    .subpage-information {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-column-gap: 10px;
      ul{
        padding-left: 0;
      }
      .subpage-meta {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        display: flex;
        flex-direction: column;
      }
      .subpage-description {
        grid-column: 3 / 6;
        grid-row: 1;
      }
      .subpage-concept {
        grid-column: 6 / 9;
        grid-row: 1;
      }
      .subpage-meta,
      .subpage-description,
      .subpage-concept,
      .subpage-capabilities,
      .subpage-contact {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        p.sub-sub-heading {
          border-bottom: 1px solid var(--foreground-color);
        }
      }
      #barba-wrapper {
        grid-column: 3 / 9;
        grid-row: 2;
        padding-top: calc(var(--lineHeight) * 0.5);
        img,
        video {
          display: block;
          width: 100%;
          border-radius: 8px;
        }
        video[poster] {
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
      .work-videos,
      .work-images {
        padding: calc(var(--lineHeight) * 1) 0;
        p {
          border-bottom: 1px solid var(--foreground-color);
        }
      }
      .video-wrapper {
        width: 100%;
        .intro-play {
          opacity: 1;
          -webkit-transition: opacity 0s;
          transition: opacity 0s;
        }
        .intro-play {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          -webkit-transition: opacity 0s 0.75s;
          transition: opacity 0s 0.75s;
          span {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            display: block;
            width: 76px;
            line-height: 76px;
            border-radius: 50%;
            background-color: var(--primary-color);
            font-size: 16px;
          }
        }
      }
        .text-counter{
          text-align: right;
        }
    }
  }
}
.half {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 768px) {
  main.work-subpage {
    padding-top: 1em;
    grid-template-columns: repeat(2, 1fr);
    .cover {
      grid-column: 1 / 3;
      grid-row: 1;
    }
    .work-subpage-content {
      grid-column: 1 / 3;
      grid-row: 2;
      .subpage-information {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: calc(var(--rowGap) * 2);
        .subpage-meta {
          grid-column: 1 / 3;
          grid-row: 1;
          display: flex;
          flex-direction: column;
        }
        .subpage-description {
          grid-column: 1 / 3;
          grid-row: 2;
        }
        .subpage-concept {
          grid-column: 1 / 3;
          grid-row: 3;
        }
        .subpage-description,
        .subpage-concept {
          display: flex;
          flex-direction: column;
        }
        #barba-wrapper {
          grid-column: 1 / 3;
          grid-row: 4;
          padding-top: calc(var(--lineHeight) * 0.5);
        }
        .work-legend {
          grid-column: 1 / 3;
          grid-row: 5;
        }
      }
    }
  }
}
