.jslghtbx {
  display: none;
}
// Nav Filter
nav.categories {
  padding: calc(var(--lineHeight) * 0.1) 0;
  border-bottom: 1px solid var(--foreground-color);
  display: grid;
  .categories-pills {
    display: grid;
    align-items: baseline;
    justify-self: end;
    grid-column: 3 / 9;
    grid-auto-flow: column;
    margin-bottom: 0;
  }
  li {
    display: inline-flex;
  }
  .category-button {
    border: 1px solid var(--foreground-color);
    border-radius: var(--b-r-small);
    padding: 0 2em;
    line-height: 1.5em;
  }
  .category-button:hover {
    background-color: var(--foreground-color);
    color: var(--background-color);
    border-color: var(--foreground-color);
  }
  li.active {
    .category-button {
      background-color: var(--primary-color);
      color: var(--foreground-color);
      border-color: var(--foreground-color);
    }
    .category-button:hover {
      background-color: var(--foreground-color);
      color: var(--background-color);
      border-color: var(--foreground-color);
    }
  }
  .category-button:active {
    background-color: var(--primary-color);
    color: var(--foreground-color);
    border-color: var(--primary-color);
  }
}
nav.categories-mobile {
  display: none;
}
.category-legend {
  display: grid;
  grid-column-gap: 10px;
  margin-top: 1em;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  border-bottom: 1px solid var(--foreground-color);
  .category-legend-description {
    grid-column: 5 / 8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    li {
      display: inline-flex;
    }
  }
}
// Post-Header
.post-header {
  position: relative;
}
.post-header:before {
  transition: opacity 0.2s;
}
.post-header:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
.toggle.post-header:before {
  opacity: 0;
}
.post-header {
  display: grid;
  grid-column-gap: 10px;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  overflow: hidden;
  height: 5em;
  transition: height 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  .post-title {
    display: grid;
    grid-column: 1 / 5;
    margin: 0;
    font-size: var(--h1-size);
    transition: font-size 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .post-meta-information {
    grid-column: 5 / 8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    p {
      margin: 0;
    }
  }
  .post-header-toggle {
    grid-column: 8 / 9;
    transition: transform 0.2s ease;
    display: grid;
    justify-self: end;
  }
  .post-chevron {
    overflow: visible;
    position: absolute;
    width: 30px;
    right: 0;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),
      transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),
      transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    transform: translateY(0);
    opacity: 0.8;
  }
  .post-chevron::before,
  .post-chevron::after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    bottom: 6px;
    position: absolute;
    z-index: 1;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),
      transform-origin 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),
      transform-origin 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .post-chevron::before {
    right: 70%;
    border-radius: 0.5px 0 0 0.5px;
  }
  .post-chevron::after {
    left: 30%;
    border-radius: 0 0.5px 0.5px 0;
  }
  .post-chevron::before,
  .post-chevron::after {
    background: var(--foreground-color);
  }
  .post-header-toggle.toggle {
    .post-chevron::before {
      transform-origin: 100% 100%;
      transform: rotate(40deg) scaleY(1.1);
    }
  }
  .post-header-toggle.toggle {
    .post-chevron::after {
      transform-origin: 0% 100%;
      transform: rotate(-40deg) scaleY(1.1);
    }
  }
  .post-chevron:hover {
    opacity: 1;
  }
  .post-header-toggle.toggle {
    .post-chevron {
      transform: translateY(11px);
    }
  }
  .post-chevron::before,
  .post-chevron::before {
    transform-origin: 100% 0%;
    transform: rotate(-40deg) scaleY(1.1);
  }
  .post-chevron::after,
  .post-chevron::after {
    transform-origin: 0% 0%;
    transform: rotate(40deg) scaleY(1.1);
  }
  .post-meta {
    // text-align: center;
    // border-radius: 99em;
    // background: var(--foreground-color);
    // color: var(--background-color);
    p{
      margin: 0;
    }
  }
}
.post.toggle {
  .post-header {
    height: 8rem;
    transition: height 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
}
.post-title.toggle {
  padding-top: var(--line-height);
  font-size: 3.5rem;
  transition: font-size 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.toggle.post-title {
  white-space: initial;
}
// Post General
.post {
  position: relative;
  overflow: hidden;
  height: 5rem;
  transition: height 0.5s ease-out;
  border: 1px solid var(--foreground-color);
  border-radius: var(--b-r-small);
  margin-top: 1em;
  padding: 0 1em;
  background-color: var(--background-color-alpha);
  backdrop-filter: saturate(180%) blur(20px);
}
// .post:after {
//   content: '';
//   position: absolute;
//   display: block;
//   height: 1px;
//   width: 100%;
//   background-color: var(--foreground-color);
//   bottom: 0;
// }
.close-post:after {
  content: '';
  margin-left: 4px;
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url('/images/icons/close.svg') center no-repeat;
  background-size: contain;
}
.post.hide {
  display: none;
}
// Post-Content normal Grid 8X1
.post-content {
  padding-top: 20px;
  padding-bottom: calc(var(--lineHeight) * 2);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: min-content 1fr;
  grid-column-gap: 10px;
  grid-row-gap: var(--rowGap);
  ul {
    padding-left: 0;
  }
  li {
    margin-bottom: calc(var(--baseline)* -0.4);
  }
  .work-description {
    display: flex;
    flex-direction: column;
    grid-column: 6/9;
    section {
      padding: calc(var(--lineHeight) * 0.3) 0;
      border-bottom: 1px solid var(--foreground-color);
    }
  }
  .post-gallery {
    grid-column: 1 / 6;
    grid-row: 1 / 3;
    img,
    video {
      display: block;
      width: 100%;
      border-radius: var(--b-r-small);
    }
    video[poster] {
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  .video-wrapper {
    width: 100%;
  }
  .text-counter {
    margin-top: auto;
  }
  .work-subpage-link {
    grid-column: 6 / 9;
    grid-row: 2;
    .link {
      // grid-template-columns: 1fr 2fr;
      // grid-column-gap: 10px;
      // display: grid;
      // align-items: center;
      // justify-content: center;
    }
    .more {
      display: table;
      margin-right: auto;
      font-size: large;
      color: var(--foreground-color);
      transform: translateX(10px);
      transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
    }
    svg {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
      fill: var(--foreground-color);
      transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
    }
  }
}
// Post-Hover
.post-header:hover {
  .post-meta,
  .post-title {
    color: var(--primary-color);
  }
  .post-chevron::before,
  .post-chevron::after {
    background: var(--primary-color);
  }
}
// Subpage Link Hover
.work-subpage-link:hover {
  .more {
    color: var(--primary-color);
    transform: translateX(0px);
    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
  }
  svg {
    fill: var(--primary-color);
    width: 100%;
    transform: scale(0.5);
    transform: translateX(-10px);
    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
  }
}
// Post-Slider Images
.slider {
  width: 100%;
  border-radius: var(--b-r-small);
}
.slider__next,
.slider__prev {
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: 10;
  top: 0;
}
.slider__next {
  right: 0;
  cursor: e-resize;
}
.slider__prev {
  cursor: w-resize;
}
.slick-slider {
  position: relative;
  display: grid;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  height: 100%;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide.slick-loading {
  img {
    display: none;
  }
}
.slick-slide.dragging {
  img {
    pointer-events: none;
  }
}
.slick-initialized {
  .slick-slide {
    display: grid;
  }
}
.slick-loading {
  .slick-slide {
    visibility: hidden;
  }
}
// Post-Video
button {
  background: 0 0;
  border: 0;
  outline: 0;
  color: var(--foreground-color);
}
.post-video {
  position: relative;
  display: block;
  video {
    display: block;
  }
}
.post-video[data-state='not-init'] {
  .vid-controls {
    visibility: hidden;
    opacity: 0;
  }
}
.post-video[data-state='initialized'] {
  .intro-play {
    opacity: 0;
    visibility: hidden;
    -webkit-filter: blur(2vw);
    filter: blur(2vw);
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s, -webkit-filter 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s, -webkit-filter 0.5s;
    transition: filter 0.5s, opacity 0.5s, visibility 0s 0.5s;
    transition: filter 0.5s, opacity 0.5s, visibility 0s 0.5s,
      -webkit-filter 0.5s;
  }
}
.post-video[data-controls='false'] {
  .vid-controls {
    display: none;
  }
}
.post-video[data-fullscreen='cancel-fullscreen'] {
  video {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.post-video.default-video {
  .vid-controls {
    display: none;
  }
}
.post-video:hover {
  .vid-controls {
    opacity: 1;
  }
}
.touch-device {
  .vid-controls {
    display: none !important;
  }
}
.toggle {
  .intro-play {
    opacity: 1;
    -webkit-transition: opacity 0s;
    transition: opacity 0s;
  }
  .intro-play {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0s 0.75s;
    transition: opacity 0s 0.75s;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: block;
      width: 76px;
      line-height: 76px;
      border-radius: 50%;
      color: #fff;
      background-color: var(--primary-color);
      font-size: 16px;
    }
  }
}
.vid-controls {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  .vid-icon {
    position: absolute;
    bottom: 2px;
    padding: 10px 0;
    color: var(--primary-color);
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .vid-playpause {
    left: 20px;
  }
  .vid-mute {
    right: 20px;
  }
  .vid-mute:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: calc(50% - 0px);
    background-color: var(--primary-color);
  }
  .vid-mute[data-state='unmute']:after {
    display: none;
  }
  .vid-fullscreen {
    background-image: url('/images/icons/fullscreen.svg');
    right: 60px;
    display: block;
    text-indent: -999px;
    overflow: hidden;
  }
  [data-fullscreen='cancel-fullscreen'] .vid-fullscreen {
    background-image: url('/images/icons/minimize.svg');
  }
  [data-fullscreen='go-fullscreen'] .vid-fullscreen {
    background-image: url('/images/icons/fullscreen.svg');
  }
  .vid-progress-wrap {
    height: 20px;
    width: calc(100% - 40px);
    position: absolute;
    left: 20px;
    bottom: 35px;
    overflow: hidden;
  }
  .vid-progress-bar {
    width: 0%;
    float: left;
    height: 3px;
    background-color: var(--primary-color);
    margin-top: 8px;
    position: relative;
  }
  .vid-progress-bar:after {
    content: '';
    display: block;
    height: 3px;
    width: 100vw;
    position: absolute;
    right: -100vw;
    top: 0;
    background-color: rgba(255, 255, 255, 0.25);
  }
}
@media screen and (max-width: 1080px) {
  .post-header {
    .post-title {
      font-size: 1.75em;
    }
  }
}
@media (min-width: 320px) and (max-width: 877px) {
  // Pre Layout
  // Post Categories
  nav.categories {
    padding: calc(var(--lineHeight) * 0.25) 0;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: calc(var(--rowGap) * 0.25);
    button {
      background: 0 0;
      border: 0;
      outline: 0;
      color: var(--foreground-color);
    }
    .categories-pills {
      height: 0px;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      grid-column: 1 / 5;
      grid-row: 1;
      transition: opacity 0.2s 0s, visibility 0s 0s,
        height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
      li {
        opacity: 0;
      }
    }
    .categories-pills.active-filters {
      margin: 0;
      margin: 0 -15px;
      display: flex;
      overflow: scroll;
      height: 25px;
      grid-column: 1 / 5;
      grid-row: 2;
      align-items: baseline;
      justify-self: center;
      width: calc(100% + 60px);
      grid-auto-flow: column;
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s 0s, visibility 0s 0s,
        height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    .categories-pills.active-filters::-webkit-scrollbar {
      display: none;
    }
    .categories-pills.active-filters {
      li {
        opacity: 1;
      }
      li:nth-child(2) {
        transition: opacity 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.05s;
      }
      li:nth-child(3) {
        transition: opacity 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
      }
      li:nth-child(4) {
        transition: opacity 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.15s;
      }
      li:nth-child(5) {
        transition: opacity 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
      }
      li:nth-child(6) {
        transition: opacity 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.25s;
      }
      li:nth-child(7) {
        transition: opacity 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
      }
      li:nth-child(8) {
        transition: opacity 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.35s;
      }
      li:nth-child(9) {
        transition: opacity 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
      }
      li:nth-child(10) {
        transition: opacity 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.45s;
      }
    }
  }
  .category-legend {
   display: none;
  }
  .categories-title {
    border-bottom: 0px solid var(--foreground-color);
    z-index: 4;
    grid-column: 1 / 5;
    padding-bottom: 0.5rem;
    display: block;
    strong {
      align-items: center;
      a {
        display: block;
        position: relative;
      }
      a:before,
      a:after {
        --rotateX: 0deg;
        content: '';
        width: 3px;
        height: 30px;
        opacity: 0.8;
        border-radius: 1px;
        background: var(--foreground-color);
        position: absolute;
        right: 15px;
        top: 10px;
        transition: transform 300ms cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s;
        transform: translate(0, -50%) rotate(var(--rotateX)) scaleX(0.8);
      }
      a:after {
        --rotateX: 90deg;
        transition: transform 300ms cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s;
      }
    }
  }
  .categories-title.active-filters {
    border-bottom: 1px solid var(--foreground-color);
    transition: border-bottom 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    strong {
      a:before {
        --rotateX: 90deg;
        transition: transform 300ms cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s;
      }
      a:after {
        --rotateX: 270deg;
        transition: transform 300ms cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s;
      }
    }
  }
  .categories-title:hover {
    p,
    svg {
      fill: var(--primary-color);
    }
  }
}
// Repo Layout
@media (min-width: 320px) and (max-width: 768px) {
  // Post Header
  .post-header {
    .post-meta-information {
      display: none;
    }
  }
  .post-header {
    height: 3rem;
    align-items: center;
    grid-column-gap: 10px;
    grid-template-columns: repeat(3, 1fr) 0.5fr;
    transition: height 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    .post-title {
      font-size: 1.5em;
      justify-self: start;
      align-self: center;
      transition: font-size 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    post-header-toggle {
      grid-column: 4 / 5;
    }
    .post-header-toggle.toggle {
      .post-chevron {
        transform: translateY(12px);
      }
    }
  }
  .post.toggle {
    .post-header {
      height: 10rem;
      transition: height 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  }
  .post-title.toggle {
    padding-top: var(--line-height);
    font-size: 3rem;
    transition: font-size 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .post {
    height: 3rem;
  }
  // Post Content
  .post-content {
    padding: calc(var(--lineHeight) * 1) 0;
    grid-template-columns: repeat(2, 1fr);
    .work-description {
      grid-column: 1 / 3;
      grid-row: 1;
    }
    .work-subpage-link {
      grid-column: 1 / 3;
      grid-row: 2;
      align-self: start;
      a {
        margin: 0;
      }
    }
    .work-images,
    .post-gallery {
      grid-column: 1 / 3;
      grid-row: 3;
      display: inline;
    }
  }
}
