@charset "UTF-8";

@import
  'base/base',
  'base/header',
  'base/footer',
  'base/homePage',
  'base/work',
  'base/work-subpage',
  'base/about',
  'base/imprint';



@import
  'components/button',
  'components/type',
  'components/bauhausCanvas',
  'components/blog',
  'components/menuMobile',
  'components/blogSubpage',
  'components/fffmodal';


